#corpo{
    width: 90%;
    margin: 10px auto;
}

#topo{
    text-align: center;
    height: 100px;
    font: bold 14pt;
    background-color: rgb(90, 184, 238);
}

#tabela{
    text-align: center;
    background-color: rgb(90, 184, 238);
    font: 12pt 'Courier New';
}

.impar{
    background: rgb(74, 221, 147);
}