body {
    width: 90%, auto;
    background-color: rgb(96, 131, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-align: center;
    color: white;
}

#topo {
    height: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    line-height: 25px;
    color: rgb(155, 225, 152);
    text-shadow: yellow 0px 0px 5px;
    background-color: rgb(14, 78, 73);
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(255, 5, 5);
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}

header p {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

section {
    text-align: justify;
    width: 75%;
    margin: auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}

footer {
    margin-top: 20px;
    height: 25;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-align: center;
    box-shadow: 0px 0px 2px black;
}

footer #home {
    float: left;
    text-align: left;
    width: 15%;
}

footer a {
    color: black;
}

footer #copyr {
    font-style: italic;
}